<%- include("./partials/header") %>

    <body>
        <div class="container-fluid">


            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg bg-info navbar-light ">
                <!-- Container wrapper -->
                <div class="container-fluid">

                    <!-- Navbar brand -->
                    <a class="navbar-brand" href="#">TBM Control</a>

                    <!-- Toggle button -->
                    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <!-- Collapsible wrapper -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <!-- Link -->
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>

                        </ul>

                    </div>
                </div>
                <!-- Container wrapper -->
            </nav>



            <!-- Navbar End -->


            <%- include("./partials/toasts") %>

        </div>



        <section class="main vh-100">
            <div class="container-fluid d-flex flex-column h-100 ">
                <!-- Sliders -->
                <div class="row h-50 text-center">
                    <div class="col-md bg-info d-flex flex-column justify-content-center my-3 p-5">
                        <label for="pitch-slider" class="form-label">Pitch Slider</label>
                        <input type="range" class="form-range" min="-35" max="35" step="0.05" id="pitch-slider">

                        <!-- Info -->
                        <div class="row">
                            <div class="col">
                                Target Pitch: <input type="number" class="form-control" id="pitch-target">
                            </div>
                            <div class="col">
                                Current Pitch: <span id="pitch-current">0</span>°
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col">
                                <div class="d-grid gap-2">
                                    <button type="button" name="" id="pitch-min" data-value="-35" data-axis="pitch"
                                        class="btn btn-primary angle-set-buttons">Min</button>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-grid gap-2">
                                    <button type="button" name="" id="pitch-zero" data-value="0" data-axis="pitch"
                                        class="btn btn-primary angle-set-buttons">Zero</button>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-grid gap-2">
                                    <button type="button" name="" id="pitch-max" data-value="35" data-axis="pitch"
                                        class="btn btn-primary angle-set-buttons">Max</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md bg-info d-flex flex-column justify-content-center m-3 p-5">
                        <label for="yaw-slider" class="form-label">Yaw Slider</label>
                        <input type="range" class="form-range" min="-35" max="35" step="0.05" id="yaw-slider">

                        <!-- Info -->
                        <div class="row">
                            <div class="col">
                                Target Yaw: <span id="yaw-target">0</span>°
                            </div>
                            <div class="col">
                                Current Yaw: <span id="yaw-current">0</span>°
                            </div>
                        </div>

                    </div>

                </div>
                <!-- Bottom Controls -->

                <div class="row">
                    <div class="col">
                        <div class="model m-0 h-100" id="model-div">

                        </div>

                    </div>
                    <div class="col d-flex flex-column">
                        <p>Longitude: <span id="longitude">2.453</span>°</p>
                        <p>Latitude: <span id="latitude">2.453</span>°</p>
                        <p>Pitch: <span id="pitch">2.453</span>°</p>
                        <p>Heading: <span id="heading">1</span>°</p>
                        <p>Depth: <span id="depth">5</span>m</p>
                        <p>Length: <span id="depth">12.2</span>m</p>
                        <div class="lowerButtons d-flex justify-content-around  m-4">
                            <div class="d-block w-100  gap-2">
                                <button type="button" name="" id="" class="btn btn-success">Start</button>
                                <button type="button" name="" id="" class="btn btn-danger">Stop</button>
                                <button type="button" name="" id="" class="btn btn-primary">Info</button>
                            </div>


                        </div>
                    </div>
                </div>





            </div>


        </section>

    </body>

    <%- include("./partials/footer") %>